@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary">STUDENTS</h4>
    </div>
    <div>
        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalStudentAdd"><i class="fa fa-plus-square"></i> Student Add</a>
    </div>
</div>
<!--End Page header-->
<!-- Row -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap" id="StudentTable">
                        <thead>
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Birthday</th>
                                <th scope="col">Create Date</th>
                                <th scope="col">Actions</th>

                            </tr>
                        </thead>
                        <tbody id="SetStudentList">
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->
<!-- The Modal -->
<div class="modal" id="ModalStudentAdd">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Student Add</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="add_student_form" role="form">

                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="firstName" id="firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="lastName" id="lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Birthday</label>
                        <div>
                            <input type="date" class="form-control input-lg" name="birthday" id="birthday">
                        </div>
                    </div>

                    <div class="form-group container">
                        <div>
                            <button id="AddStudent" type="button" class="btn btn-success" data-bs-dismiss="modal">Add</button>

                            <button id="CancelStudent" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">


            </div>

        </div>
    </div>
</div>

<div class="modal" id="ModalStudentEdit">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Student Edit</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="edit_student_form" role="form">
                    <input type="hidden" id="studentId" name="studentId">
                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="editFirstName" id="editFirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="editLastName" id="editLastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Birthday</label>
                        <div>
                            <input type="date" class="form-control input-lg" name="editBirthday" id="editBirthday">
                        </div>
                    </div>
                   

                    <div class="form-group container">
                        <div>
                            <button id="EditStudent" type="button" class="btn btn-success" data-bs-dismiss="modal">Edit</button>

                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

                <input type="hidden" name="edit_row_index" id="edit_row_index"/>
            </div>

        </div>
    </div>
</div>

﻿<script src="~/assets/js/jquery.min.js"></script>
<!-- Bootstrap5 js-->
<script src="~/assets/plugins/bootstrap/popper.min.js"></script>
<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- INTERNAL Datepicker js -->
<script src="~/assets/plugins/date-picker/date-picker.js"></script>
<script src="~/assets/plugins/date-picker/jquery-ui.js"></script>
<script src="~/assets/plugins/input-mask/jquery.maskedinput.js"></script>

<!--Othercharts js-->
<script src="~/assets/plugins/othercharts/jquery.sparkline.min.js"></script>

<!-- Circle-progress js-->
<script src="~/assets/js/circle-progress.min.js"></script>

<!-- Jquery-rating js-->
<script src="~/assets/plugins/rating/jquery.rating-stars.js"></script>

<!--Sidemenu js-->
<script src="~/assets/plugins/sidemenu/sidemenu.js"></script>

<!-- P-scroll js-->
<script src="~/assets/plugins/p-scrollbar/p-scrollbar.js"></script>
<script src="~/assets/plugins/p-scrollbar/p-scroll1.js"></script>
<script src="~/assets/plugins/p-scrollbar/p-scroll.js"></script>

<!-- INTERNAL Data tables -->
<script src="~/assets/plugins/datatables/DataTables/js/jquery.dataTables.js"></script>
<script src="~/assets/plugins/datatables/DataTables/js/dataTables.bootstrap5.js"></script>
<script src="~/assets/plugins/datatables/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/plugins/datatables/Buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/plugins/datatables/JSZip/jszip.min.js"></script>
<script src="~/assets/plugins/datatables/pdfmake/pdfmake.min.js"></script>
<script src="~/assets/plugins/datatables/pdfmake/vfs_fonts.js"></script>
<script src="~/assets/plugins/datatables/Buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/plugins/datatables/Buttons/js/buttons.print.min.js"></script>
<script src="~/assets/plugins/datatables/Buttons/js/buttons.colVis.min.js"></script>
<script src="~/assets/plugins/datatables/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/plugins/datatables/Responsive/js/responsive.bootstrap5.min.js"></script>
<script src="~/assets/js/datatables.js"></script>

<!-- INTERNAL Select2 js -->
<script src="~/assets/plugins/select2/select2.full.min.js"></script>
<script src="~/assets/js/select2.js"></script>

<!-- INTERNAL Sweet alert js -->
<script src="~/assets/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
<script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>
<script src="~/assets/js/sweet-alert.js"></script>

<!-- Custom js-->
<script src="~/assets/js/custom.js"></script>
<!-- Modal ADD js-->
<script src="~/js/Crud/StudentCrud.js"></script>
